/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.container {width:700px;margin:0 auto;background-color:white;padding:12px;background-image:url('/assets/content-bg.jpg');background-repeat:no-repeat;background-position:bottom right;height:100%;}
body {background:#002d62;padding-top:10px;}

h1 {font-family:Georgia, Verdana, Times, Arial;font-weight:italic;}

#nav-bar li {display:inline;padding-right:10px;}
#nav-bar li a {
	text-decoration:none;color:#fff;padding:5px;}
#nav-bar li a:hover {text-decoration:underline;}

#logo {width:200px;margin:0 auto;}
.clear {clear:both;}
#title {width:350px;padding:10px;margin:0 auto;height:50px;}
#title h1 {margin-left:30px;}

#nav {width:250px;margin:0 auto;padding-top:10px;}

#nav ul {padding:0;margin:0;}

table {width:575px;margin:0 auto;padding:10px;margin-bottom:170px;}

table tr {padding:50px;}

#content {margin-bottom:150px;}